.kanban-board {
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }
  
  .column {
      display: flex;
 flex-direction: column;
   flex: 1;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 8px;
  }
  .heading1{
    display: flex;
    padding: 2px;
    gap: 10px;
    padding-bottom: 0px;
    margin: 0;
    align-items: center;
    border-bottom: 3px solid #5030E5;
  }
  .heading2{
    display: flex;
    padding: 2px;
    gap: 10px;
    padding-bottom: 0px;
    margin: 0;
    align-items: center;
    border-bottom: 3px solid #FFA500;
  }
  .heading3{
      
    display: flex;
    padding: 2px;
    gap: 10px;
    padding-bottom: 0px;
    margin: 0;
    align-items: center;
    border-bottom: 3px solid #8BC48A;
  }
  .toplayer{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
  }
  .column-title {
    /* font-weight: bold; */
    margin-bottom: 10px;
  }
  .dot1 {
    height: 7px;
    width: 7px;
    background-color:#5030E5;
    border-radius: 50%;
    display: inline-block;
  }
  .dot2 {
    height: 7px;
    width: 7px;
    background-color:#FFA500;
    border-radius: 50%;
    display: inline-block;
  }
  .dot3 {
    height: 7px;
    width: 7px;
    background: #8BC48A;

    border-radius: 50%;
    display: inline-block;
  }
  .cards {
    background-color: #fff;
    margin: 1rem;   
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .levelLow{
    background-color: #FEF9C3;
    /* width: 2.5rem; */
    color: #F6E05E;
    font-weight: 500;
    border-radius: 0.375rem;
    padding: 0.25rem;
  }
  .levelHigh{
    background: rgb(255, 39, 111);
    /* width: 2.5rem; */
    color: #D8727D;
    font-weight: 500;
    border-radius: 0.375rem;
    padding: 0.25rem;
  }
  .levelDone{
background:#8BC48A;
    /* width: 2.5rem; */
    color:#048100;
    font-weight: 500;
    border-radius: 0.375rem;
    padding: 0.25rem;
  }
  .midlayer{
      margin: 0;
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 0.5px;
  }
  .lastlayer{
    font-size: 0.875rem;
    font-weight: 200;
    margin-top: 0.25rem; 
  }
  /* Add any additional styling as needed */
  