.container {
  display: grid;
  grid-template-columns: 250px 1fr;
  }
  .left{
    font-weight: 600;
    font-size: 20px;
    color: #0d062d;
    cursor: pointer;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
  .logobox{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .right{
   
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    /* gap: 100px; */
    justify-content: space-between;
    padding: 20px;
    
  }
  .text{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }
  .searchbox{
    display: flex;
    margin: 0;
  }
  .search{
    transform: translateX(45px);
    width: 10%;
    display: flex;
    align-items: center;

  }
  .input{
    background-color: #F5F5F5;
    border-radius: 6px;
    margin: 10px;
    padding-right: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 50px;
    font-size: 15px;
    border:hidden
  }
  .profile{
    display: flex;

    transform: translateX(40px);
    gap: 10px;
  }
  .righter{
    display: flex;
    justify-content: space-around;
    transform: translateX(-40px);
    /* gap: 2px; */
    align-items: center;
    
  }
 .details{
   display: flex;
   text-align: right;
   flex-direction: column;
   justify-content: center;
  gap: 0;
  line-height: normal;
 }
 .username{
  font-size: 1rem;
  font-weight: 400;
  color: #0d062d;
  margin: 0;
 }
 .userlocation{
  font-size: 14px;
  font-weight: 400;
  color: #787486;
 }
 .userimg{
   display: flex;
   gap: 2px;
   align-items: center;
 }